<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="bot_logs.log" />
    <target name="logconsole" xsi:type="Console" />
    <target name="logstash" xsi:type="Network" address="tcp://localhost:8089" newLine="True">
      <layout type="JsonLayout" includeAllProperties="true">
        <attribute name="timestamp" layout="${longdate}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="machinename" layout="${machinename}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="level" layout="${level}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception}" />
      </layout>
    </target>    
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="logstash" />
  </rules>
</nlog>